/*ico*/
/*alliance*/
.i-ai1{background-image:url(../../images/alliance/img/1.png);}
/*divisions*/
.i-ad0{background-image:url(../../images/alliance/divisions/0.png);}
.i-ad1{background-image:url(../../images/alliance/divisions/1.png);}
.i-ad2{background-image:url(../../images/alliance/divisions/2.png);}
.i-ad3{background-image:url(../../images/alliance/divisions/3.png);}
.i-ad4{background-image:url(../../images/alliance/divisions/4.png);}
.i-ad5{background-image:url(../../images/alliance/divisions/5.png);}
/*Rank*/
.i-a-ONLINESTATE{background-image:url(../../images/alliance/rank/ONLINESTATE.png);}
.i-a-MANAGEUSERS{background-image:url(../../images/alliance/rank/MANAGEUSERS.png);}
.i-a-MANAGEAPPLY{background-image:url(../../images/alliance/rank/MANAGEAPPLY.png);}
.i-a-DIPLOMATIC{background-image:url(../../images/alliance/rank/DIPLOMATIC.png);}
.i-a-MEMBERLIST{background-image:url(../../images/alliance/rank/MEMBERLIST.png);}
.i-a-ROUNDMAIL{background-image:url(../../images/alliance/rank/ROUNDMAIL.png);}
.i-a-TRANSFER{background-image:url(../../images/alliance/rank/TRANSFER.png);}
.i-a-SEEAPPLY{background-image:url(../../images/alliance/rank/SEEAPPLY.png);}
.i-a-PLANETS{background-image:url(../../images/alliance/rank/PLANETS.png);}
.i-a-EVENTS{background-image:url(../../images/alliance/rank/EVENTS.png);}
.i-a-ADMIN{background-image:url(../../images/alliance/rank/ADMIN.png);}
.i-a-RANKS{background-image:url(../../images/alliance/rank/RANKS.png);}
.i-a-KICK{background-image:url(../../images/alliance/rank/KICK.png);}
.i-a-BANK{background-image:url(../../images/alliance/rank/BANK.png);}
