/*arsenal*/
.i-ar-add{background-image:url(../../images/arsenal/add.png);}
/*upgrades*/
.i-ar-u1 {background-image:url(../../images/arsenal/upgrades/1.png);}
.i-ar-u2 {background-image:url(../../images/arsenal/upgrades/2.png);}
.i-ar-u3 {background-image:url(../../images/arsenal/upgrades/3.png);}
.i-ar-u4 {background-image:url(../../images/arsenal/upgrades/4.png);}
.i-ar-u5 {background-image:url(../../images/arsenal/upgrades/5.png);}
.i-ar-u6 {background-image:url(../../images/arsenal/upgrades/6.png);}
.i-ar-u7 {background-image:url(../../images/arsenal/upgrades/7.png);}
.i-ar-u8 {background-image:url(../../images/arsenal/upgrades/8.png);}
.i-ar-u9 {background-image:url(../../images/arsenal/upgrades/9.png);}
.i-ar-u10{background-image:url(../../images/arsenal/upgrades/10.png);}
.i-ar-u11{background-image:url(../../images/arsenal/upgrades/11.png);}
.i-ar-u12{background-image:url(../../images/arsenal/upgrades/12.png);}
.i-ar-u13{background-image:url(../../images/arsenal/upgrades/13.png);}
.i-ar-u14{background-image:url(../../images/arsenal/upgrades/14.png);}
/*details*/
.i-ar-d1  {background-image:url(../../images/arsenal/details/1.png);}
.i-ar-d2  {background-image:url(../../images/arsenal/details/2.png);}
.i-ar-d3  {background-image:url(../../images/arsenal/details/3.png);}
.i-ar-d4  {background-image:url(../../images/arsenal/details/4.png);}
.i-ar-d5  {background-image:url(../../images/arsenal/details/5.png);}
.i-ar-d6  {background-image:url(../../images/arsenal/details/6.png);}
.i-ar-d7  {background-image:url(../../images/arsenal/details/7.png);}
.i-ar-d8  {background-image:url(../../images/arsenal/details/8.png);}
.i-ar-d9  {background-image:url(../../images/arsenal/details/9.png);}
.i-ar-d10 {background-image:url(../../images/arsenal/details/10.png);}
.i-ar-d11 {background-image:url(../../images/arsenal/details/11.png);}
.i-ar-d12 {background-image:url(../../images/arsenal/details/12.png);}
.i-ar-d13 {background-image:url(../../images/arsenal/details/13.png);}
.i-ar-d999{background-image:url(../../images/arsenal/details/999.png);}
/*blueprints*/
.i-ar-b1 {background-image:url(../../images/arsenal/blueprints/1.png);}
.i-ar-b2 {background-image:url(../../images/arsenal/blueprints/2.png);}
.i-ar-b3 {background-image:url(../../images/arsenal/blueprints/3.png);}
.i-ar-b4 {background-image:url(../../images/arsenal/blueprints/4.png);}
.i-ar-b5 {background-image:url(../../images/arsenal/blueprints/5.png);}
.i-ar-b6 {background-image:url(../../images/arsenal/blueprints/6.png);}
.i-ar-b7 {background-image:url(../../images/arsenal/blueprints/7.png);}
.i-ar-b8 {background-image:url(../../images/arsenal/blueprints/8.png);}
.i-ar-b9 {background-image:url(../../images/arsenal/blueprints/9.png);}
.i-ar-b10{background-image:url(../../images/arsenal/blueprints/10.png);}
.i-ar-b11{background-image:url(../../images/arsenal/blueprints/11.png);}
.i-ar-b12{background-image:url(../../images/arsenal/blueprints/12.png);}
.i-ar-b13{background-image:url(../../images/arsenal/blueprints/13.png);}
.i-ar-b14{background-image:url(../../images/arsenal/blueprints/14.png);}