/*flags*/
.i-f-bg{background-image:url(../../images/ico/flags/bg.png);}
.i-f-by{background-image:url(../../images/ico/flags/by.png);}
.i-f-ca{background-image:url(../../images/ico/flags/ca.png);}
.i-f-cn{background-image:url(../../images/ico/flags/cn.png);}
.i-f-de{background-image:url(../../images/ico/flags/de.png);}
.i-f-ee{background-image:url(../../images/ico/flags/ee.png);}
.i-f-es{background-image:url(../../images/ico/flags/es.png);}
.i-f-eu{background-image:url(../../images/ico/flags/eu.png);}
.i-f-fr{background-image:url(../../images/ico/flags/fr.png);}
.i-f-gb{background-image:url(../../images/ico/flags/gb.png);}
.i-f-ge{background-image:url(../../images/ico/flags/ge.png);}
.i-f-it{background-image:url(../../images/ico/flags/it.png);}
.i-f-kz{background-image:url(../../images/ico/flags/kz.png);}
.i-f-lt{background-image:url(../../images/ico/flags/lt.png);}
.i-f-lv{background-image:url(../../images/ico/flags/lv.png);}
.i-f-md{background-image:url(../../images/ico/flags/md.png);}
.i-f-pl{background-image:url(../../images/ico/flags/pl.png);}
.i-f-pt{background-image:url(../../images/ico/flags/pt.png);}
.i-f-ru{background-image:url(../../images/ico/flags/ru.png);}
.i-f-tr{background-image:url(../../images/ico/flags/tr.png);}
.i-f-ua{background-image:url(../../images/ico/flags/ua.png);}
.i-f-us{background-image:url(../../images/ico/flags/us.png);}
.i-f-xt{background-image:url(../../images/ico/flags/xt.png);}