/*premium*/
/*pvp*/
.i-p-pvp-1{background-image:url(../../images/ico/premium/pvp-1.png);}
.i-p-pvp-2{background-image:url(../../images/ico/premium/pvp-2.png);}
.i-p-pvp-3{background-image:url(../../images/ico/premium/pvp-3.png);}
.i-p-pvp-4{background-image:url(../../images/ico/premium/pvp-4.png);}
.i-p-pvp-5{background-image:url(../../images/ico/premium/pvp-5.png);}
/*pvp*/
.i-p-pve-1{background-image:url(../../images/ico/premium/pve-1.png);}
.i-p-pve-2{background-image:url(../../images/ico/premium/pve-2.png);}
.i-p-pve-3{background-image:url(../../images/ico/premium/pve-3.png);}
.i-p-pve-4{background-image:url(../../images/ico/premium/pve-4.png);}
.i-p-pve-5{background-image:url(../../images/ico/premium/pve-5.png);}
/*extra*/
.i-p-extra-1{background-image:url(../../images/ico/premium/extra-1.png);}
.i-p-extra-2{background-image:url(../../images/ico/premium/extra-2.png);}
.i-p-extra-3{background-image:url(../../images/ico/premium/extra-3.png);}
.i-p-extra-4{background-image:url(../../images/ico/premium/extra-4.png);}
.i-p-extra-5{background-image:url(../../images/ico/premium/extra-5.png);}
.i-p-extra-6{background-image:url(../../images/ico/premium/extra-6.png);}
.i-p-extra-7{background-image:url(../../images/ico/premium/extra-7.png);}
.i-p-extra-8{background-image:url(../../images/ico/premium/extra-8.png);}
.i-p-extra-9{background-image:url(../../images/ico/premium/extra-9.png);}
.i-p-extra-10{background-image:url(../../images/ico/premium/extra-10.png);}
.i-p-extra-11{background-image:url(../../images/ico/premium/extra-11.png);}
/*dm*/
.i-p-dm-v{background-image:url(../../images/ico/premium/dm-v.png);}
.i-p-dm-1{background-image:url(../../images/ico/premium/dm-1.png);}
.i-p-dm-2{background-image:url(../../images/ico/premium/dm-2.png);}
.i-p-dm-3{background-image:url(../../images/ico/premium/dm-3.png);}
.i-p-dm-4{background-image:url(../../images/ico/premium/dm-4.png);}
.i-p-dm-5{background-image:url(../../images/ico/premium/dm-5.png);}
.i-p-dm-6{background-image:url(../../images/ico/premium/dm-6.png);}
.i-p-dm-7{background-image:url(../../images/ico/premium/dm-7.png);}
.i-p-dm-8{background-image:url(../../images/ico/premium/dm-8.png);}
/*res*/
.i-p-res-901{background-image:url(../../images/ico/premium/res-901.png);}
.i-p-res-902{background-image:url(../../images/ico/premium/res-902.png);}
.i-p-res-903{background-image:url(../../images/ico/premium/res-903.png);}
/*am*/
.i-p-am-v{background-image:url(../../images/ico/premium/am-v.png);}
.i-p-am-1{background-image:url(../../images/ico/premium/am-1.png);}
.i-p-am-2{background-image:url(../../images/ico/premium/am-2.png);}
.i-p-am-3{background-image:url(../../images/ico/premium/am-3.png);}
.i-p-am-4{background-image:url(../../images/ico/premium/am-4.png);}
.i-p-am-5{background-image:url(../../images/ico/premium/am-5.png);}
.i-p-am-6{background-image:url(../../images/ico/premium/am-6.png);}
.i-p-am-7{background-image:url(../../images/ico/premium/am-7.png);}
.i-p-am-8{background-image:url(../../images/ico/premium/am-8.png);}
.i-p-am-9{background-image:url(../../images/ico/premium/am-9.png);}
