/*popup*/
#popup{
	position:absolute;
	padding:0 10px 10px 10px;
	left:0; bottom:0;
	top:35px; right:0;
}
/*inf*/
.inf-description{
	position:relative;
	background-position:left center;
	background-repeat:no-repeat;
	height:170px;
	overflow:auto;
	text-align:justify;
	margin:5px 0px 10px 0px;
	padding:10px 10px 10px 200px;
}
.inf-options{
	line-height:20px;
	margin:10px 0px;
}
.inf-rapidfire-row{
	padding-left:25px;
	text-align:left;
	height:22px;
	line-height:22px;
	margin-bottom:3px;
	background-position:left;
	background-repeat:no-repeat;
	background-size:contain;
}
.inf-rapidfire-count{
	float:right;
	color:#05b9e5;
}
.inf-shooting-head{
	height:25px;
	line-height:25px;
	background-position:center;
	background-size:contain;	
	background-repeat:no-repeat;
}
.inf-effective-box{
	float:left;
	height:60px;
	width:60px;
	margin:5px;
	background-position:cecer;
	background-repeat:no-repeat;
	background-size:contain;
}
.inf-option{
	line-height:14px;
	margin-bottom:5px;
	padding-left:60px;
	height:60px;
	width:200px;
	float:left;
	overflow:hidden;
	background-position:left center;
	background-size:contain;
	background-repeat:no-repeat;
}
#tooltip .inf-option{
	padding-left:25px;
	line-height:20px;
	height:20px;
	width:100px;
	float:none;
}
.inf-option-title{
	font-family: "BicubikRegular", Arial, Geneva, sans-serif;
	line-height:20px;
}
.inf-option-text{
	font-size:12px;
}
#info-fleet-gate{
	position:absolute;
	width:98%;
	top:200px;
	left:5px; 
	right:5px;
	bottom:5px;
}
#info-fleet-gate .fl-fleet{
	bottom: 35px;
	margin:0 auto;
	width:515px;
}
.info-gate-btn{
	position:absolute;
	left:0; right:0;
	bottom:3px;
	width:150px;
}
.inf-production{
	position:relative;
}
.inf-prod-levels{
	position:relative;
	width:50px;
	float:left;
}
.inf-prod-level{
	position:relative;
	width:100%;
	height:40px;
	cursor:help;
}
.inf-prod-level-ico{
	position:absolute;
	left:0; right:0;
	top:0; bottom:0;
	width:18px;
	height:18px;
}
.inf-prod-data{
	position:relative;
	height:40px;
	width:101px;
	padding:0px 10px;
	overflow:hidden;
	float:left;
}
.inf-prod-data-t{
	line-height:40px;
}
.inf-prod-data-t-s{
	position:absolute;
	display:block;
	line-height:11px;
	font-size:11px;
	right:10px;
	left:10px;
	top:8px;
}
.inf-prod-data-t-a{
	position:absolute;
	display:block;
	line-height:11px;
	font-size:13px;
	right:10px;
	left:10px;
	bottom:7px;
}
.inf-shooting-box{
	position:relative;
	margin-top:10px;
	height:195px;
}
.inf-shooting-bg{
	position:absolute;
	bottom:0; top:0;
	left:0; right:auto;
	width:49%;
	background-position:left center;
	background-repeat:no-repeat;
	z-index:1;
	cursor:help;
}
.inf-shooting-rows{
	position:relative;
	width:39%;
	height:100%;
	overflow:auto;
	padding-right:1%;
	margin-left:9%;
	z-index:2;
}
/*ct*/
.ct-block{
	position:relative;
	margin:10px;
}
.ct-title{
	padding:0 10px;
	height:25px;
	line-height:25px;
	font-family: "BicubikRegular", Arial, Geneva, sans-serif;
	border-bottom:1px solid rgba(255,255,255,0.40)
}
.ct-content{
	position:relative;
	height:100px;
	padding:10px 10px 45px 120px;
}
.ct-content-a{
	
}
.ct-img{
	position:absolute;
	height:135px;
	width:100px;
	left:10px;
	top:10px;
	background-position:center;
	background-size:contain;
	background-repeat:no-repeat;
}
.ct-rewards{
	position:absolute;
	left:120px;
	right:10px;
	bottom:45px;
	height:25px;
	line-height:25px;
}
.ct-reward{
	position:relative;
	width:33%;
	float:right;
	text-align:right;
}
.ct-reward-ico{
	position:absolute;
	width:18px;
	height:18px;
	left:20px;
	top:0;
	bottom:0;
}
.ct-btn{
	position:absolute;
	right:10px;
	bottom:10px;
	width:150px;
}
.ct-extra{
	position:absolute;
	right:170px;
	bottom:10px;
	width:110px;
	height:25px;
	line-height:25px;
	padding-left:35px;
	text-align:right;
}
.ct-progress{
	position:absolute;
	font-family: "BicubikRegular", Arial, Geneva, sans-serif;
	text-align:right;
	right:10px; left:120px;
	bottom:75px;
	line-height:20px;
	height:20px;
	border-bottom:2px solid rgba(5,195,241,0.20);
	overflow:visible;
}
.ct-progress-band{
	position:absolute;
	height:2px;
	left:0;
	bottom:-2px;
	box-shadow: 0 0 2px 0px rgba(0,0,0,0.50);
	background-color:rgba(5,195,241,0.80);
}
/*bonus*/
.bn-lup-bg{
	position:absolute;
	top:0; bottom:0;
	left:0; right:0;
	background-position:top center;
	background-repeat:no-repeat;
	background-size:contain;
	z-index:1;
}
.bn-lup-title{
	position:absolute;
	top:10px;
	left:0; right:0;
	text-align:center;
	text-transform:uppercase;
	font-size:20px;
	z-index:2;
}
.bn-lup-level{
	position:absolute;
	top:125px;
	left:0; right:0;
	text-align:center;
	font-family: "BicubikRegular", Arial, Geneva, sans-serif;
	font-size:55px;
	font-weight:lighter;
	color:#9619c5;
	text-shadow:0 0 10px rgba(150,25,197,0.50);
	z-index:2;
}
.bn-awards-title{
	position:absolute;
	top:290px;
	left:0; right:0;
	text-align:center;
	font-size:19px;
	color:#888888;
	z-index:2;
}
.bn-awards-content{
	position:absolute;
	top:325px;
	left:0px; 
	right:0px;
	bottom:10px;
	width:590px;
	overflow:auto;
	z-index:2;
}
/*ofsers*/
.bn-ofser-bg{
	position:absolute;
	top:0; bottom:0;
	left:0; right:0;
	background-position:left center;
	background-repeat:no-repeat;
	background-size:contain;
	z-index:1;
}
.bn-ofser-title{
	position:absolute;
	top:10px;
	right:0px;
	width:420px;
	font-size:20px;
	z-index:2;
}
.bn-ofser-content{
	position:absolute;
	top:35px; 
	bottom:50px;
	right:0px;
	padding:10px;
	width:475px;
	overflow:auto;
	background-color:rgba(0,0,0,0.50);
	z-index:2;
}
.bn-ofser-content .msg-res-row{
	width:42%;
	margin-bottom:1px;
}
.bn-ofser-btn{
	width:200px;
	left:0; right:0;
	z-index:2;
}
/*tr*/
.tg-content{
	position:absolute;
	left:0; right:0;
	top:0; bottom:0;
	overflow:auto;
	padding:10px 10px 45px 10px;
	z-index:5;
}
.tg-dialog{
	min-height:150px;
	line-height:16px;
	font-size:14px;
	padding-left:190px;
	margin:20px 0;
	background-position:left top;
	background-repeat:no-repeat;
	background-image:url(../../images/training/master.png);
}
.tg-dialog p{
	margin-bottom:5px;
}
.tg-dialog-left{
	background:none; 
	padding:15px 170px 10px 10px; 
	text-indent: 40px;
	text-align:justify;
	line-height:18px;
}
.tg-task{
	padding-left:25px;
	line-height:18px;
	height:18px;
	margin-bottom:5px;
	background-position:left center;
	background-repeat:no-repeat;
	background-size:contain;
}
.tg-reward{
	position:relative;
	margin-bottom:5px;
	line-height:20px;
	height:20px;
	width:19%;
	margin-right:1%;
	float:left;
	text-align:left;
	padding-left:25px;
}
.tg-btn{
	position:absolute;
	right:10px;
	bottom:10px;
	width:120px;
}
.tg-bg{
	position:absolute;
	z-index:1;
	right:0; left:0;
	bottom:0; top:0;
	background-position:left center;
	background-repeat:no-repeat;
}
.i-tr-bg-1{background-image:url(../../images/training/1.jpg);}
.i-tr-bg-2{background-image:url(../../images/training/2.jpg);}
.i-tr-bg-3{background-image:url(../../images/training/3.jpg);}
.i-tr-bg-4{background-image:url(../../images/training/4.jpg);}
/*bu*/
.bu-btn{
	float:left;
	width:15%;
	margin:0 0.75%;
}
.bu-btn-mini{
	float:right;
	margin-left:10px;
}
.bu-btn-mini-ico{
	position:absolute;
	left:0; right:0;
	bottom:0; top:0;
	height:16px;
	width:16px;
}