/*ico*/
.i-level{background-image:url(../../images/ico/general/level.png);}
.i-settings{background-image:url(../../images/ico/general/settings.png);}
.i-prem{background-image:url(../../images/ico/general/prem.png);}
.i-fs{background-image:url(../../images/ico/general/fs.png);}
.i-chat{background-image:url(../../images/ico/general/chat.png);}
.i-p-prev{background-image:url(../../images/ico/general/p-prev.png);}
.i-p-next{background-image:url(../../images/ico/general/p-next.png);}
.i-achiev{background-image:url(../../images/ico/general/achiev.png);}
.i-alliance{background-image:url(../../images/ico/general/alliance.png);}
.i-arsenal{background-image:url(../../images/ico/general/arsenal.png);}
.i-empire{background-image:url(../../images/ico/general/empire.png);}
.i-market{background-image:url(../../images/ico/general/market.png);}
.i-messag{background-image:url(../../images/ico/general/messag.png);}
.i-mesages{background-image:url(../../images/ico/general/mesages.png);}
.i-officers{background-image:url(../../images/ico/general/officers.png);}
.i-statist{background-image:url(../../images/ico/general/statist.png);}
.i-change{background-image:url(../../images/ico/general/settings.png);}
.i-exit{background-image:url(../../images/ico/general/exit.png);}
.i-qb{background-image:url(../../images/ico/general/qb.png);}
.i-qs{background-image:url(../../images/ico/general/qs.png);}
.i-qr{background-image:url(../../images/ico/general/qr.png);}
.i-bb{background-image:url(../../images/ico/general/bb.png);}
.i-bs{background-image:url(../../images/ico/general/bs.png);}
.i-br{background-image:url(../../images/ico/general/br.png);}
.i-arr-l{background-image:url(../../images/ico/general/arr-left.png);}
.i-add{background-image:url(../../images/ico/general/add.png); background-size:auto;}
.i-support{background-image:url(../../images/ico/general/support.png);}
.i-top-kb{background-image:url(../../images/ico/general/top-kb.png);}
.i-records{background-image:url(../../images/ico/general/records.png);}
.i-moon{background-image:url(../../images/ico/general/moon.png);}
.i-x{background-image:url(../../images/ico/general/x.png);}
.i-x-f{background-image:url(../../images/ico/general/x-f.png);}
.i-time{background-image:url(../../images/ico/general/time.png);}
.i-down{background-image:url(../../images/ico/general/down.png);}
.i-save{background-image:url(../../images/ico/general/save.png);}
.i-i{background-image:url(../../images/ico/general/i.png);}
.i-phalanx{background-image:url(../../images/ico/general/phalanx.png);}
.i-complaint{background-image:url(../../images/ico/general/complaint.png);}
.i-forward{background-image:url(../../images/ico/general/forward.png);}
.i-inarchive{background-image:url(../../images/ico/general/inarchive.png);}
.i-battle-a{background-image:url(../../images/ico/general/battle-a.png);}
.i-battle-d{background-image:url(../../images/ico/general/battle-d.png);}
/*res*/
.i-900{background-image:url(../../images/ico/general/900.png);}
.i-901{background-image:url(../../images/ico/general/901.png);}
.i-902{background-image:url(../../images/ico/general/902.png);}
.i-903{background-image:url(../../images/ico/general/903.png);}
.i-911{background-image:url(../../images/ico/general/911.png);}
.i-921{background-image:url(../../images/ico/general/921.png);}
.i-931{background-image:url(../../images/ico/general/931.png);}
.i-941{background-image:url(../../images/ico/general/qr.png);}
.i-800{background-image:url(../../images/ico/general/800.png);}
.i-999{background-image:url(../../images/ico/general/999.png);}
/*mission*/
.i-mis1{background-image:url(../../images/ico/mission/1.png);}
.i-mis2{background-image:url(../../images/ico/mission/2.png);}
.i-mis3{background-image:url(../../images/ico/mission/3.png);}
.i-mis4{background-image:url(../../images/ico/mission/4.png);}
.i-mis5{background-image:url(../../images/ico/mission/5.png);}
.i-mis6{background-image:url(../../images/ico/mission/6.png);}
.i-mis7{background-image:url(../../images/ico/mission/7.png);}
.i-mis8{background-image:url(../../images/ico/mission/8.png);}
.i-mis9{background-image:url(../../images/ico/mission/9.png);}
.i-mis10{background-image:url(../../images/ico/mission/10.png);}
.i-mis15{background-image:url(../../images/ico/mission/15.png);}
.i-mis16-1{background-image:url(../../images/ico/mission/16-1.png);}
.i-mis16-2{background-image:url(../../images/ico/mission/16-2.png);}
.i-mis16-3{background-image:url(../../images/ico/mission/16-3.png);}
.i-mis16-4{background-image:url(../../images/ico/mission/16-4.png);}
/*mission-o*/
.i-mis1-o{background-image:url(../../images/ico/mission/1-o.png);}
.i-mis2-o{background-image:url(../../images/ico/mission/2-o.png);}
.i-mis3-o{background-image:url(../../images/ico/mission/3-o.png);}
.i-mis4-o{background-image:url(../../images/ico/mission/4-o.png);}
.i-mis5-o{background-image:url(../../images/ico/mission/5-o.png);}
.i-mis6-o{background-image:url(../../images/ico/mission/6-o.png);}
.i-mis7-o{background-image:url(../../images/ico/mission/7-o.png);}
.i-mis8-o{background-image:url(../../images/ico/mission/8-o.png);}
.i-mis9-o{background-image:url(../../images/ico/mission/9-o.png);}
.i-mis10-o{background-image:url(../../images/ico/mission/10-o.png);}
.i-mis15-o{background-image:url(../../images/ico/mission/15-o.png);}
.i-mis16-1-o{background-image:url(../../images/ico/mission/16-1-o.png);}
.i-mis16-2-o{background-image:url(../../images/ico/mission/16-2-o.png);}
.i-mis16-3-o{background-image:url(../../images/ico/mission/16-3-o.png);}
.i-mis16-4-o{background-image:url(../../images/ico/mission/16-4-o.png);}
/*mission-t*/
.i-mis1-t{background-image:url(../../images/ico/mission/1-t.png);}
.i-mis2-t{background-image:url(../../images/ico/mission/2-t.png);}
.i-mis3-t{background-image:url(../../images/ico/mission/3-t.png);}
.i-mis4-t{background-image:url(../../images/ico/mission/4-t.png);}
.i-mis5-t{background-image:url(../../images/ico/mission/5-t.png);}
.i-mis6-t{background-image:url(../../images/ico/mission/6-t.png);}
.i-mis7-t{background-image:url(../../images/ico/mission/7-t.png);}
.i-mis8-t{background-image:url(../../images/ico/mission/8-t.png);}
.i-mis9-t{background-image:url(../../images/ico/mission/9-t.png);}
.i-mis10-t{background-image:url(../../images/ico/mission/10-t.png);}
.i-mis15-t{background-image:url(../../images/ico/mission/15-t.png);}
.i-mis16-1-t{background-image:url(../../images/ico/mission/16-1-t.png);}
.i-mis16-2-t{background-image:url(../../images/ico/mission/16-2-t.png);}
.i-mis16-3-t{background-image:url(../../images/ico/mission/16-3-t.png);}
.i-mis16-4-t{background-image:url(../../images/ico/mission/16-4-t.png);}
/*exped*/
.i-e15-0{background-image:url(../../images/ico/mission/15-0.png);}
.i-e16-1{background-image:url(../../images/ico/mission/16-1.png);}
.i-e16-2{background-image:url(../../images/ico/mission/16-2.png);}
.i-e16-3{background-image:url(../../images/ico/mission/16-3.png);}
.i-e16-4{background-image:url(../../images/ico/mission/16-4.png);}
/*flight*/
.i-fl-stay{background-image:url(../../images/ico/flight/stay.png);}
.i-fl-wave{background-image:url(../../images/ico/flight/wave.png);}
.i-fl-time{background-image:url(../../images/ico/flight/time.png);}
.i-fl-time-s{background-image:url(../../images/ico/flight/time-s.png);}
.i-fl-time-e{background-image:url(../../images/ico/flight/time-e.png);}
.i-fl-speed{background-image:url(../../images/ico/flight/speed.png);}
.i-fl-speed-m{background-image:url(../../images/ico/flight/speed-m.png);}
.i-fl-storage{background-image:url(../../images/ico/flight/storage.png);}
.i-fl-location{background-image:url(../../images/ico/flight/location.png);}
.i-fl-distance{background-image:url(../../images/ico/flight/distance.png);}
.i-fl-consumption{background-image:url(../../images/ico/flight/consumption.png);}
.i-fl-t-stay{background-image:url(../../images/ico/flight/t-stay.png);}
.i-fl-t-start{background-image:url(../../images/ico/flight/t-start.png);}
.i-fl-t-end{background-image:url(../../images/ico/flight/t-end.png);}
.i-fl-attack{background-image:url(../../images/ico/flight/attack.png);}
.i-fl-structure{background-image:url(../../images/ico/flight/structure.png);}
.i-fl-engine{background-image:url(../../images/ico/flight/engine.png);}
.i-fl-shield{background-image:url(../../images/ico/flight/shield.png);}
.i-fl-back{background-image:url(../../images/ico/flight/back.png);}
.i-fl-shooting-1{background-image:url(../../images/ico/flight/shooting-1.png);}
.i-fl-shooting-2{background-image:url(../../images/ico/flight/shooting-2.png);}
.i-fl-shooting-3{background-image:url(../../images/ico/flight/shooting-3.png);}
.i-fl-shooting-4{background-image:url(../../images/ico/flight/shooting-4.png);}
/*or-menu*/
.i-or-m-orbita{background-image:url(../../images/ico/orbita/m-orbita.png);}
.i-or-m-flight{background-image:url(../../images/ico/orbita/m-flight.png);}
.i-or-m-exped{background-image:url(../../images/ico/orbita/m-exped.png);}
.i-or-m-acs{background-image:url(../../images/ico/orbita/m-acs.png);}
.i-or-m-bs{background-image:url(../../images/ico/orbita/m-bs.png);}
/*battle*/
.i-bt-c-create-moon{background-image:url(../../images/ico/battle/c-create-moon.png);}
.i-bt-c-dest-ship{background-image:url(../../images/ico/battle/c-dest-ship.png);}
.i-bt-c-dest-moon{background-image:url(../../images/ico/battle/c-dest-moon.png);}
.i-bt-create-moon{background-image:url(../../images/ico/battle/create-moon.png);}
.i-bt-dest-ship{background-image:url(../../images/ico/battle/dest-ship.png);}
.i-bt-dest-moon{background-image:url(../../images/ico/battle/dest-moon.png);}